/**
 * GithubFileContents: Shared Styles
 */

.github-file-contents-content-container {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

 .github-file-contents-content-file-url-bar {
  background: #ccc;
  color: #333;
  width: 100%;
  padding: 4px 10px;
  text-align: center;
  box-sizing: border-box;
}

.github-file-contents-code-container {
  background-color: rgb(42, 43, 45);
  box-sizing: border-box;
  color: rgba(255,255,255,.95);
  height: auto;
  margin: 1em 0px;
  border-radius: 5px;
  width: 100%;
}

.github-file-contents-code-container code {
  line-height: 1.1;
  font-size: .7em;
}

/* .github-file-contents-editor-code-container button {
  display: flex;
  justify-content: center;
  align-items: center;

} */

.github-file-contents-content-container button svg {
  margin-top: 5px;
  width: 18px;
  height: 18px;
}